.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.socialMediaContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialMediaLogo{
    margin: 10px;
    cursor: pointer;
}

